body {
    background-color: blanchedalmond;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-size: 1em;

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 50vh;
    margin: 0;
    flex-direction: column;
    border: 2px solid black;
    background-color: rgb(252, 204, 131);

}

.title {
    text-align: left;
    width: 80vw;
}

#ovenTemp {
    display: flex;
    justify-content: space-between;
    width: 75vw;
    margin-top: 20px;


}

#ovenTime {
    display: flex;
    justify-content: space-between;
    width: 75vw;
}

.airFryContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 75vw;
    margin-top: 20px;

}

#airCont {
    display: flex;
    justify-content: space-between;
    width: 75vw;
}

#airContTime {
    display: flex;
    justify-content: space-between;
    width: 75vw;
}

.airTimeResult, .airFryResult {
    background-color: white;
    width: 143px;
    border: 1px black solid;
    height: 19px;
    border-radius: 2px;
}

.header {
    font-size: 1.4em;
    font-weight: 700;
    width: 75vw;
    margin-top: 20px;
}